<nav class="navbar has-shadow is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <a href="#" class="navbar-item is-tab">Profile</a>
        <a href="#" class="navbar-item is-tab">Sign Up</a>
        <a href="#" class="navbar-item is-tab">Sign in</a>
        <a href="#" class="navbar-item is-tab">Sign Out</a>
      </div>
    </div>
  </div>
</nav>
