<h1 class="mat-display-1">{{jersey.teamname | uppercase}} {{jersey.year}}/{{jersey.year + 1}} {{jersey.type | uppercase}} JERSEY</h1>
<div class="columns">
  <div class="jersey-detail-image">
    <img src="https://i1.adis.ws/i/ArsenalDirect/m75156103_f?$810x810$&.jpg" alt="image">
  </div>
  <div class="jersey-detail-info">
    <p class="md-display-1">Color: {{jersey.color | titlecase}}</p>
    <p class="md-display-1">Price: {{jersey.price}} €</p>
    <p class="md-display-1">Description: jinjdfjnvdvjdfjndfjkvkdfkvdfjknvdfkjvkdfvjjuiprecuier</p>
  </div>
</div>
